.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    h1 {
        margin-bottom: 52px;
    }
    .forms {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 70%;
    }
}