.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .welcome-header {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 52px;
    }
    .forms {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 70%;
    }
}
